@charset "utf-8";
.fl{
	float: left;
}
img{	
	border: none;
	width: 100px;
}
.z_file{
	padding: 18px;
	border:2px dashed #E7E6E6;
	position: relative;
}
.file{
	width: 100%;
	height: 100%;
	opacity: 0;    /*设置全透明*/
	position: absolute;
	top: 0px;
	left: 0px;
	cursor: pointer;
	z-index: 100;
}