<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>欢迎页</title>
    <link rel="stylesheet" href="/public__CSS__/welcome.css" media="all">
    <style>
        html{background-color: #393D49; color: #1BC0AF;}
        a,a:hover{color: #1BC0AF;}
        body{padding: 40px 20px 0; line-height: 26px; text-align: center; font-size: 18px; font-weight: 300;}
    </style>
</head>
<body>
<p style="margin-top: 30px;">
    <i class="layui-icon" style="font-size: 300px; line-height: 300px;">&#xe60c;</i>
</p>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_30088308'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/c.php%3Fid%3D30088308' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>
